# GitHub App
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_ID=
GITHUB_WEBHOOK_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Email
SMTP_PASSWORD=

# Image registry
IMAGE_REGISTRY_PASSWORD=

# Sentry
SENTRY_DSN_CLIENT=
SENTRY_DSN_SERVER=
SENTRY_AUTH_TOKEN_CLIENT=

# Cloudflare DNS API
CF_API_TOKEN=