@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.ttf");
}

@theme {
  --font-sans:
    "Rubik", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-gray-1: #FCFCFC;
  --color-gray-2: #F9F9F9;
  --color-gray-3: #F0F0F0;
  --color-gray-4: #E8E8E8;
  --color-gray-5: #E0E0E0;
  --color-gray-6: #D9D9D9;
  --color-gray-7: #CECECE;
  --color-gray-8: #BBBBBB;
  --color-gray-9: #8D8D8D;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  --color-violet-1: #FDFCFE;
  --color-violet-2: #FAF8FF;
  --color-violet-3: #F4F0FE;
  --color-violet-4: #EBE4FF;
  --color-violet-5: #E1D9FF;
  --color-violet-6: #D4CAFE;
  --color-violet-7: #C2B5F5;
  --color-violet-8: #AA99EC;
  --color-violet-9: #6E56CF;
  --color-violet-10: #654DC4;
  --color-violet-11: #6550B9;
  --color-violet-12: #2F265F;

  --color-mauve-1: #FDFCFD;
  --color-mauve-2: #FAF9FB;
  --color-mauve-3: #F2EFF3;
  --color-mauve-4: #EAE7EC;
  --color-mauve-5: #E3DFE6;
  --color-mauve-6: #DBD8E0;
  --color-mauve-7: #D0CDD7;
  --color-mauve-8: #BCBAC7;
  --color-mauve-9: #8E8C99;
  --color-mauve-10: #84828E;
  --color-mauve-11: #65636D;
  --color-mauve-12: #211F26;

  --color-grass-1: #FBFEFB;
  --color-grass-2: #F5FBF5;
  --color-grass-3: #E9F6E9;
  --color-grass-4: #DAF1DB;
  --color-grass-5: #C4E8D1;
  --color-grass-6: #ADDDC0;
  --color-grass-7: #8ECEAA;
  --color-grass-8: #5BB98B;
  --color-grass-9: #30A46C;
  --color-grass-10: #2B9A66;
  --color-grass-11: #218358;
  --color-grass-12: #193B2D;

  --color-amber-1: #FEFDFB;
  --color-amber-2: #FEFBE9;
  --color-amber-3: #FFF7C2;
  --color-amber-4: #FFEE9C;
  --color-amber-5: #FBE577;
  --color-amber-6: #F3D673;
  --color-amber-7: #E9C162;
  --color-amber-8: #E2A336;
  --color-amber-9: #FFC53D;
  --color-amber-10: #FFBA18;
  --color-amber-11: #AB6400;
  --color-amber-12: #4F3422;

  --color-red-1: #FFFCFC;
  --color-red-2: #FFF7F7;
  --color-red-3: #FEEBEC;
  --color-red-4: #FFDBDC;
  --color-red-5: #FFCDCE;
  --color-red-6: #FDBDBE;
  --color-red-7: #F4A9AA;
  --color-red-8: #EB8E90;
  --color-red-9: #E5484D;
  --color-red-10: #DC3E42;
  --color-red-11: #CE2C31;
  --color-red-12: #641723;

  --color-black-a12: rgba(0, 0, 0, 0.95);
  --color-black-a9: rgba(0, 0, 0, 0.7);
  --color-black-a6: rgba(0, 0, 0, 0.4);
  --color-black-a4: rgba(0, 0, 0, 0.2);

  --color-white-a11: rgba(255, 255, 255, 0.9);
  --color-white-a12: rgba(255, 255, 255, 0.95);
}

@layer utilities {
  .wiggle-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bcbac7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

html,
body {
  @apply bg-white-a12 text-mauve-12;
}

.xterm-viewport {
  overflow-y: auto !important;
}
