@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.ttf");
}

@theme {
  --font-sans:
    "Rubik", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-gray-1: #fcfcfc;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #f0f0f0;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #d9d9d9;
  --color-gray-7: #cecece;
  --color-gray-8: #bbbbbb;
  --color-gray-9: #8d8d8d;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  --color-violet-1: #fdfcfe;
  --color-violet-2: #faf8ff;
  --color-violet-3: #f4f0fe;
  --color-violet-4: #ebe4ff;
  --color-violet-5: #e1d9ff;
  --color-violet-6: #d4cafe;
  --color-violet-7: #c2b5f5;
  --color-violet-8: #aa99ec;
  --color-violet-9: #6e56cf;
  --color-violet-10: #654dc4;
  --color-violet-11: #6550b9;
  --color-violet-12: #2f265f;

  --color-mauve-1: #fdfcfd;
  --color-mauve-2: #faf9fb;
  --color-mauve-3: #f2eff3;
  --color-mauve-4: #eae7ec;
  --color-mauve-5: #e3dfe6;
  --color-mauve-6: #dbd8e0;
  --color-mauve-7: #d0cdd7;
  --color-mauve-8: #bcbac7;
  --color-mauve-9: #8e8c99;
  --color-mauve-10: #84828e;
  --color-mauve-11: #65636d;
  --color-mauve-12: #211f26;

  --color-grass-1: #fbfefb;
  --color-grass-2: #f5fbf5;
  --color-grass-3: #e9f6e9;
  --color-grass-4: #daf1db;
  --color-grass-5: #c4e8d1;
  --color-grass-6: #adddc0;
  --color-grass-7: #8eceaa;
  --color-grass-8: #5bb98b;
  --color-grass-9: #30a46c;
  --color-grass-10: #2b9a66;
  --color-grass-11: #218358;
  --color-grass-12: #193b2d;

  --color-amber-1: #fefdfb;
  --color-amber-2: #fefbe9;
  --color-amber-3: #fff7c2;
  --color-amber-4: #ffee9c;
  --color-amber-5: #fbe577;
  --color-amber-6: #f3d673;
  --color-amber-7: #e9c162;
  --color-amber-8: #e2a336;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffba18;
  --color-amber-11: #ab6400;
  --color-amber-12: #4f3422;

  --color-red-1: #fffcfc;
  --color-red-2: #fff7f7;
  --color-red-3: #feebec;
  --color-red-4: #ffdbdc;
  --color-red-5: #ffcdce;
  --color-red-6: #fdbdbe;
  --color-red-7: #f4a9aa;
  --color-red-8: #eb8e90;
  --color-red-9: #e5484d;
  --color-red-10: #dc3e42;
  --color-red-11: #ce2c31;
  --color-red-12: #641723;

  --color-black-a12: rgba(0, 0, 0, 0.95);
  --color-black-a9: rgba(0, 0, 0, 0.7);
  --color-black-a6: rgba(0, 0, 0, 0.4);
  --color-black-a4: rgba(0, 0, 0, 0.2);

  --color-white-a11: rgba(255, 255, 255, 0.9);
  --color-white-a12: rgba(255, 255, 255, 0.95);
}

@layer utilities {
  .wiggle-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bcbac7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

html,
body {
  @apply bg-white-a12 text-mauve-12;
}

.xterm-viewport {
  overflow-y: auto !important;
}
